/* pc.css */

body {
  background-color: #ccc;
}
header {
  background-color: #000;
  /* 최대크기 << 설정 안하면 무한대임........ */
  max-width: 1400px;
  margin: 0 auto;
}
header nav {
  padding: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
header nav a {
  color: #fff;
  margin-left: 1em;
  margin-right: 1em;
}
#main-title {
  background-color: blueviolet;
  color: #fff;
  height: 400px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
  background-image: url(./images/title-bg.jpg.jpg);
  background-size: cover;
  filter: brightness(90%);
  text-shadow: 1px 1px 2px black;
}

/* 상의폴더로 이미지 가져오는 방법 '../' 
   동일폴더 './' */
